* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serifs;
}

.main-cont {
  width: 100%;
  background-image: linear-gradient(white, black);
}
.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
}
.heading {
  display: flex;
  justify-content: center;
  text-align: center;
  gap: 50px;
  margin-top: 25px;
}
h1 {
  font-size: 3rem;
}
.carousel {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 500px;
}
img {
  width: 80%;
  height: 500px;
}
.actions {
  display: flex;
  width: 90%;
  margin: 0 auto;
  gap: 15px;
  justify-content: space-between;
}
button {
  width: 30%;
  height: 50px;
  border-radius: 15px;
  border-color: white;
  font-size: 1.2rem;
  background-color: transparent;
  color: white;
  &:hover {
    cursor: pointer;
  }
}

@media screen and (max-width: 425px) {
  .main-cont {
    height: 100vh;
  }
  .main {
    gap: 25px;
  }
  h1 {
    font-size: 2rem;
  }
  .carousel {
    height: 250px;
  }
  img {
    width: 90%;
    height: 250px;
  }
  .actions {
    gap: 10px;
  }
  button {
    font-size: 1rem;
  }
}

@media screen and (min-width: 425px) and (max-width: 1024px) {
  .main {
    gap: 35px;
  }
  h1 {
    font-size: 2.5rem;
  }
  .carousel {
    height: 350px;
  }
  img {
    width: 90%;
    height: 350px;
  }
  .actions {
    gap: 15px;
  }
  button {
    font-size: 1.1rem;
    color: orange;
  }
}
